* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: hsl(225, 100%, 98%);
}

.card {
    background-color: white;
    min-height: 70vh;
    max-height: 70vh;
    min-width: 25vw;
    max-width: 25vw;
    border-radius: 2rem;
    margin-top: 10rem;
    /* box-shadow: 0 2rem 100rem hsl(224, 23%, 55%); */
}

.card-img img {
    border-radius: 2rem 2rem 0 0;
    min-width: 25vw;
    max-width: 25vw;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.title {
    font-size: 2.4rem;
    margin: 2rem 0;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.description {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 2rem;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    padding: 0 1rem;
}

.plan {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    background: hsl(225, 100%, 98%);
    border-radius: 1rem;
    padding: 1rem 0rem;
    margin: 2.5rem 1rem;
}

.plan-info {
    padding: 0rem 2rem;
}

.plan-title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.change-plan {
    color:hsl(245, 75%, 52%);
    font-size: 1.4rem;
    font-weight: 700;
}

button {
    background: hsl(245, 75%, 52%);
    color: white;
    padding: 1.5rem 1rem;
    width: 80%;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 900;
    
}

.cancel {
    margin: 2rem 0;
    color:hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
}